// X-LARGE DEVICES [XL]
@media all and (min-width: 1025px) and  (max-width: 1328px) {

}

// LARGE DEVICES [LG]
@media all and (min-width: 961px) and (max-width: 1024px) {

}

// MEDIUM DEVICES [MD]
@media all and (min-width: 769px) and (max-width: 960px) {
    .GalleryImg {
      height: auto;
    }
}

// SMALL DEVICES [SM]
@media all and (min-width: 481px) and (max-width: 768px) {

        @media all and (min-width: 577px) {

            .GalleryImg {
                height: 60rem;
                padding-top: 5rem;
            }
        }
}
   

@media all and (min-width: 321px) and (max-width: 480) {
    .GalleryImg {
    
        height: auto;
        
       
       

        
}}

// XS DEVICES [-]
@media all and (max-width: 320px) {

                
    .GalleryImg {
    
        height: auto;
        background-color: #1E1E1E;
        display: flex;
        align-items: center;
       

        .ProcessRow {
            
            margin-left: 9%;
            margin-right: 9%;

            h3 {
                color: white;
                font-weight: 700;
            }
            p {
                color: white;
                
            }
            .Icon {
                color: white;
                margin-top: 10%;
                margin-bottom: 5%;
            }
        }
        
    }
    }
